body {
  background: url(https://img.freepik.com/free-vector/cloud-background-pastel-paper-cut-style-vector_53876-135914.jpg?w=1380&t=st=1679762590~exp=1679763190~hmac=d7895b4c0ae9a2cd470f593b68a90e70591caa31ce81006b5d4e9ce77a675270)
    no-repeat;
  background-size: cover;
}

.block-1,
.block-2,
.block-3 {
  text-align: center;
  border: 4px solid #297ca5d3;
  border-radius: 10px;
  max-width: 750px;
  margin: 0 auto;
  display: block;
  padding: 40px;
  background-color: #f8d1b5d0;
  opacity: 90%;
  font-family: "Chakra Petch", sans-serif;
  color: #34474e;
  margin-top: 20px;
  margin-bottom: 20px;
}
.block-2 {
  font-size: 18px;
}
.search-bar {
  border: 4px solid #297ca5d3;
  border-radius: 10px;
  max-width: 750px;
  margin: 0 auto;
  display: block;
  background-color: #f8d1b5d0;
  opacity: 90%;
  font-family: "Chakra Petch", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}
.description {
  text-transform: capitalize;
}
.weekdays {
  font-size: 28px;
  padding: 10px;
}
footer {
  text-align: center;
}
